


.warpper

  .warp-left
    = image_tag("ie.jpg")

  .warp-right
    = form_for(@user) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :name, "名前aaaaa"
        = f.text_field :name, class: 'form-control',placeholder: "土佐 太郎",required: true

      .form-group
        = f.label :email, "メールアドレス"
        = f.email_field :email,placeholder: "vacant@vacant.com", class: 'form-control'

      .form-group.form_item
        = f.label :state, "都道府県"
        = f.select :state, User.states.keys,{selected: "高知県"}, {class: "select_state form-control"}

      .form-group.form_item
        = f.label :city, "市町村"
        = f.select :city,"aa", {prompt: "市町村を選択してください"}, {class: "select_citys form-control"}

      .form_item.picture_field.form-group
        = f.label :avatar do
          = image_tag("hito.jpg", class: "avatar_preview")

        = f.file_field :avatar, class: "display_none file"

      .form_item
        = f.label :password, "パスワード"
        = f.password_field :password, class: 'form-control'
      .form_item
        = f.label :password_confirmation, "パスワード確認"
        = f.password_field :password_confirmation, class: 'form-control'
      %button.btn.btn-primary{:type => "submit"} Submit


