-@categories.each do |cate|
  = link_to "#{cate.name}", category_path(cate)
= link_to "全ての資産", all_categories_path


.category--title
  - if @category
    ="#{@category.name}の資産"
  - else
    全ての資産

- @items.each do |item|
  = link_to item_path(item) do
    = item.title
    =item_main_picutre(item)