ユーザー詳細ページ


-if @user.owner
  .user_item
    .type_name
      オーナー側
    .type_category
      = "#{@user.owner_category}として登録"

-if @user.manager
  .user_item
    .type_name
      経営側
    .type_category
      = "#{@user.manager_category}として登録"




.user_item
  .user_title
    名前
  .user_content
    = full_name(@user)


.user_item
  .user_avatar
    = image_tag(set_avatar(@user, :preview))

.user_item
  .user_title
    住所
  .user_content
    = full_address(@user)



.user_item
  .user_title
    自己紹介
  .user_content
    = @user.profile || "未入力"

