資産詳細ページ

.show-item
  - if correct_user?(@item)
    .show-item--status
      = @item.status
    .show-item--bottun
      =link_to "編集する" ,edit_item_path(@item)
      =link_to "削除する", item_path(@item), method: :delete,data: { confirm: "削除してよろしいですか？"}

  - if @item.reject_text && (correct_user?(@item) || admin_user?(@item))
    .show-item--content
      審査落ちの理由
      = @item.reject_text
  .show-item--content
    資産の名称:
    = @item.title
  .show-item--content
    資産のカテゴリー:
    = @item.category_name
  - if @item.sub_category
    .show-item--content
      資産のサブカテゴリー:
      = @item.sub_category_name

  - @item.pictures.each do |pic|
    .show-item--picture_area
      .show-item--picture_area__picture
        = image_tag(pic.content_url(:thumb))
      .show-item--picture_area__comment
        = pic.comment

  .show-item--content
    資産の説明:
    = @item.profile

  - if @item.remark
    .show-item--content
      資産の備考:
      = @item.remark

  .show-item--content
    資産の所在地:
    = full_address(@item)

  - if @item.comment
    .show-item--content
      オーナーからのコメント:
      = @item.comment

  -if @item.need_food_info?
    .show-item--content
      原材料:
      = @item.food_info_raw

    - if @item.food_info_amount
      .show-item--content
        量:
        = @item.food_info_amount

  -if @item.need_building_info?
    .show-item--content
      建物の特徴:
      = @item.building_info_about
    .show-item--content
      建物の状態:
      = @item.building_info_status

    .show-item--content
      建物の値段:
      = @item.building_info_price


      賃貸/販売:
      = rent_type(@item)

  - if @item.tags.length
    .show-item--content
      タグ：
      -@item.tags.each do |tag|
        =tag.name


  - unless correct_user?(@item)
    = link_to "チャットで問い合わせる", new_item_chat_path(@item)

  - if owner?(@item) && @contacts.length != 0
    .show-item--content
      この資産に対する問い合わせ一覧
    - @contacts.each do |chat|
      .chat__name
        = link_to item_chat_path(@item, chat) do
          ="#{full_name(chat.user)}さんからの問い合わせがあります"
        - if chat.have_yet_look_message?
          未読メッセージあり

  .show-item--content
    この資産のオーナー
    =link_to user_path(@item.user) do
      = full_name(@item.user)
    = image_tag(set_avatar(@item.user))

//お知らせ表示（ヘッダー）
//資産に対する状態が変わった（審査→ 落ちor 合格)
//資産に対する問い合わせあり（未読の）



